@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset,
label {
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/

.star-rating {
  float: left;
}

.star-rating > input {
  display: none;
}
.star-rating > label:before {
  margin: 0;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.star-rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.star-rating > input:checked ~ label, /* show gold star when clicked */
.star-rating:not(:checked) > label:hover, /* hover current star */
.star-rating:not(:checked) > label:hover ~ label {
  color: black;
} /* hover previous stars in list */

.star-rating > input:checked + label:hover, /* hover current star when changing rating */
.star-rating > input:checked ~ label:hover,
.star-rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.star-rating > input:checked ~ label:hover ~ label {
  color: black;
}
