@font-face {
  font-family: "Futura Std";
  src: url("FuturaStd-HeavyOblique.woff2") format("woff2"),
    url("FuturaStd-HeavyOblique.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura Std";
  src: url("FuturaStd-Heavy.woff2") format("woff2"),
    url("FuturaStd-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
