.signup-form {
  .div {
    border: 2px solid #9eadba;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5%;
  }

  .container,
  .button {
    font-family: "Futura Std";
    font-style: italic;
  }

  .button {
    border: 2px solid #9eadba;
    color: #293845;
  }

  .button:hover,
  .label:hover {
    background-color: #293845;
    /* border: 2px solid #9eadba; */
    color: #dfe6ed;
  }

  .label {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5%;
  }
}
