.record details {
  
}

div {
  border: solid 2px black;
}

input, button, link {
  font-family: 'Futura Std';
  font-style: italic;
  border: 2px solid #9eadba;
  color: #293845;
}

.btn-outline-success {
  border: 2px solid #9eadba;
}

.btn-outline-success:hover {
  background-color: #293845;
  border: 2px solid #9eadba;
  color: #dfe6ed;
}
