.record-details {
  padding: 10%;
  
  .section-header {
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10%;
  }

  .album-header {
    margin-bottom: 5%;
    justify-content: center;
  }

  .single-record {
    position: relative;
    overflow: hidden;
    padding: 5px;
    border-radius: 5%;
  }

  .record-img {
    position: relative;
  }

  .record-img:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    visibility: hidden;
    content: '';
    background: rgba(223,230,237,0.9);
    height: 100%;
    width: 100%;
  }

  .single-record:hover .record-img:before {
    visibility: visible;
    border-radius: 5%;
  }

  .record-img img {
    border-radius: 5%;
    border: 5px solid #9eadba;
    width: 100%;
    z-index: 10;
  }

  .single-record:hover {
    opacity: 1;
    visibility: visible;
    border-radius: 5%;
  }

  .overlay-text h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin: 5px 0 15px;
    position: relative;
    top: -22px;
  }

  .single-record:hover  {
    top: 0;
  }

  .single-record:hover p {
    bottom: 0
  }

  input, button, link {
    font-family: 'Futura Std';
    font-style: italic;
    border: 2px solid #9eadba;
    color: #293845;
    margin: 2%;
  }

  .btn-outline-success {
    border: 2px solid #9eadba;
  }

  .btn-outline-success:hover {
    background-color: #293845;
    border: 2px solid #9eadba;
    color: #dfe6ed;
  }
}

.categories, 
.release-info, 
.buttons, 
.reviews {
  display: inline-grid;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;

  .album {
    height: 20vw;
    display: flex;
    align-items: center;
  }
  .year {
    height: 10vw;
    display: flex;
    align-items: center;
  }
  
}

.categories {
  text-align: end;
  padding-right: 10px;
  border-right: 3px solid #293845;

  .album, .year {
    justify-content: end;
  }
}

.release-info {
  text-align: start;
  padding-left: 10px;
  border-left: 3px solid #293845;
}

.buttons {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.reviews {
  padding: 10px;
}
