main {
  animation: transitionIn .5s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10deg);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  color: #293845;
  font-family: 'Futura Std';
}

h1 {
  font-style: italic;
}

nav {
  position: sticky;
  background-color: #dfe6ed;
  border: 2px solid #9eadba;
  font-size: 1rem;
  color: black;
  display: flex;
  /* flex-direction: column; */
  justify-content: left;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: black;
}

nav > a:hover {
  color: white;
  background-color: #424748;

}

nav > a.active {
  color: white;
}