@import "~bootstrap/scss/bootstrap";
@import "custom";

main {
  animation: transitionIn .5s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10deg);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: 'Futura Std';
  color: #293845;
}

h1 {
  font-style: italic;
}
