@import "~bootstrap/scss/bootstrap";
@import "custom";

body {
  font-family: "Futura Std";
  color: #293845;
}

h1 {
  font-style: italic;
}

@media screen and (max-device-width: 930px) {
  body {
    font-size: 0.8rem;
  }
}
