/* The following block can be included in a custom.scss */
$custom-color: #dfe6ed;

$--color-button-hover: #23272f;

/* make the customizations */
$theme-colors: (
  "secondary": #dfe6ed,
  "danger": black,
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
